@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Maven+Pro:wght@500&family=Raleway:wght@300;400;500&family=Ysabeau&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ysabeau";
}


/*  phone landscape & smaller */
@media all and (max-width: 480px) {
    .Container {
        width: 100%;
        background-color: aqua;
        padding: 2em;
    }

    .form-container {
        width: 100%;
        margin: auto;
        border: 1px solid black;
    }


     .main-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1em;
        gap: 20px;

    }

    .form-item {
        display: flex;
        justify-content: space-between;
    }

    .main-form .btn {
        width: 60%;
        background-color: rgb(130, 170, 130);
        border-radius: 7px;
    }

    .btn-container {
        display: flex;
        justify-content: center;
    }

     .main-form .btn:hover {
        background-color: aliceblue;
        font-size: 16px;
    }

}

@media all and (max-width: 280px) {
    .main-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1em;
        gap: 20px;

    }

    .form-item {
        display: block;
        flex-direction: column;
        justify-content: space-between;
    }

    .main-form .btn:hover {
        background-color: aliceblue;
        font-size: 16px;
    }

}



/*  tablet  */
@media all and (min-width: 480px) and (max-width: 768px) {
    .Container {
        width: 100%;
        background-color: aqua;
        padding: 2em;
    }

    .form-container {
        width: 100%;
        margin: auto;
        border: 1px solid black;
    }


     .main-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1em;
        gap: 20px;

    }

    .main-form .blank-input {
        width: 400px;
    }

    .form-item {
        display: flex;
        justify-content: space-between;
    }

    .main-form .btn {
        width: 60%;
        background-color: rgb(130, 170, 130);
        border-radius: 7px;
    }

    .btn-container {
        display: flex;
        justify-content: center;
    }

    
    .main-form .btn:hover {
        background-color: aliceblue;
        font-size: 16px;
    }

}


/* tablet landscape */
@media all and (min-width: 769px) and (max-width: 1024px) { 
    .Container {
        width: 100%;
         background-color: rgb(127, 190, 190);
        padding: 2em;
    }

    .form-container {
        width: 90%;
        margin: auto;
       
    }


     .main-form {
        width: 80%;
        margin: auto;
        background-color:rgba(0, 0, 0, 0.06);
        display: flex;
        flex-direction: column;
        padding: 1em;
        gap: 20px;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        border-radius: 10px;
    }

    .main-form .blank-input {
        width: 400px;
    }

    .form-item {
        display: flex;
        justify-content: space-between;
    }

    .main-form .btn {
        width: 80%;
        background-color: green;
        border-radius: 7px;
    }

    .btn-container {
        display: flex;
        justify-content: center;
    }

    .main-form .btn:hover {
        background-color: aliceblue;
        font-size: 16px;
    }
}


/*  desktop (default grid) */
@media all and (min-width: 1025px) {
    .Container {
        width: 100%;
        background-color: rgb(127, 190, 190);
        padding: 4em;
    }

    .form-container {
        width: 60%;
        margin: auto;
       
    }


     .main-form {
        width: 80%;
        margin: auto;
        background-color:rgba(0, 0, 0, 0.06);
        display: flex;
        flex-direction: column;
        padding: 1em;
        gap: 20px;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        border-radius: 10px;
    }

    .main-form .blank-input {
        width: 400px;
    }

    .form-item {
        display: flex;
        justify-content: space-between;
    }

    .main-form .btn {
        width: 80%;
        height: 30px;
        background-color: rgb(130, 170, 130);
        border-radius: 7px;
        
    }

    .btn-container {
        display: flex;
        justify-content: center;
        
    }


    .main-form .btn:hover {
        background-color: aliceblue;
        font-size: 16px;
    }
}
